<!DOCTYPE html>
<html lang="en" ng-app="acentQuizApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <title>Акцентуации характера</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
   
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Тест на определение акцентуаций характера<br \>(опросник Г.Шмишека)</h1>
        </div>
        
        <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive">
            <div class="row">
                <p class="col-xs-10 col-xs-offset-1">Согласно теории «акцентуированных личностей» существуют черты личности, которые сами по себе еще не являются патологическими, однако могут при определенных условиях развиваться в положительном или отрицательном направлении. Черты эти являются как бы заострением некоторых присущих каждому человеку индивидуальных свойств. У психопатов эти черты достигают особо большой выраженности.</p>
            </div>
            <form class="form-inline well well-sm clearfix">
                <button class="btn btn-warning"
                    ng-click="list.activateQuiz()">
                    <strong>Пройти  тест</strong>
                </button>
                <div class="pull-right">

                    <input 
                        type="text" 
                        placeholder="Поиск..." 
                        class="form-control"
                        ng-model="list.search">
                </div>
            </form>
            <div class="row" ng-cloak>
                <div class="col-xs-10 col-sm-6 center-block gridResult" ng-repeat="typePerson in list.data  | filter:list.search">
                    <div class="well well-sm ">
                        <div class="row">
                            <div class="col-md-6 imgContainer">
                                <img ng-src="{{typePerson.image_url}}" 
                                    class="img-rounded img-responsive">
                            </div>
                            <div class="col-md-6">
                                <h4>{{typePerson.type}}</h4>
                                <p>{{typePerson.short_description}}</p>
                                <div class="col-md-12">
                                    <button class="btn btn-primary pull-right"
                                    data-toggle="modal"
                                    data-target="#type-person-info"
                                    ng-click="list.changeActivePerson(typePerson)">Узнать больше</button>
                                </div>
                            </div>
                        </div><!-- row -->
                    </div><!-- well -->
                </div><!-- col-xs-6 -->
            </div>

            <!-- the markup for the modal -->
            <div class="modal" id="type-person-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- more usage of angular data binding -->
                            <h2 class="text-center">{{list.activePerson.type}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <!-- ng-src used again instead of src -->
                                    <img ng-src="{{list.activePerson.image_url}}" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-xs-12 top-buffer">
                                    <p>{{list.activePerson.description}}</p>
                                    <button class="btn btn-danger pull-right" 
                                        data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- List Controller -->

        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive" ng-cloak>
            <div class="row">
                <div class="col-xs-8">
                    <div class="btn-toolbar">
                        <button class="btn"
                            ng-repeat="group in quiz.questionsGroup track by $index"
                            ng-class="{'btn-warning': $index === quiz.selectedGroup, 'btn-primary': $index < quiz.selectedGroup}">
                            {{group}}
                        </button>
                    </div>
                </div>

            </div><!-- progress area -->

            <div class="questions row" ng-repeat="question in quiz.chosenQuestions" ng-cloak>
                <div class="well well-sm text-center">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>{{question.id + ". " + question.text}}</h3>
                        </div>
                        <div class="col-xs-12">
                            <ul class="answers text-center">
                                <li ng-click="quiz.clickAnswer($event)"><input id="questionyes{{question.id}}" name="question{{question.id}}" type="radio" value="1"><label>Да</label><div class="check"></div></li>
                                <li ng-click="quiz.clickAnswer($event)"><input id="questionno{{question.id}}" name="question{{question.id}}" type="radio" value="0"><label>Нет</label><div class="check"></div></li>
                            </ul>
                        </div>
                    </div>
                    <!-- ng-click will call the questionAnswered method on the controller -->
                    
                </div>
            </div><!-- question row -->

            <div class="row text-center">
                <button class="btn btn-warning quizbutton" 
                        ng-click="quiz.questionGroupAnswered()"
                        ng-disabled="quiz.givenAnswers < quiz.checkGivenAnswers"

                        >
                        <span ng-if="quiz.finalButtonName">Результат</span>
                        <span ng-if="!quiz.finalButtonName">Дальше</span>
                        </button>
            </div>
        </div><!-- quiz controller -->

        <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive" ng-cloak>
            <div class="row">
                <p class="col-xs-10 col-xs-offset-1">Согласно теории «акцентуированных личностей» существуют черты личности, которые сами по себе еще не являются патологическими, однако могут при определенных условиях развиваться в положительном или отрицательном направлении. Черты эти являются как бы заострением некоторых присущих каждому человеку индивидуальных свойств. У психопатов эти черты достигают особо большой выраженности.
                Если полученная величина превышает 18, то это свидетельствует о выраженности данного типа акцентуации.</p>
            </div>
           <div class="row">
                <div class="col-xs-10 col-sm-12 center-block gridResult" ng-repeat="resultItem in results.quizMetrics.printResults">
                    <div class="well well-sm ">
                        <div class="row">
                            <div class="col-md-2 imgContainer">
                                <img ng-src="{{resultItem.image_url}}" 
                                    class="img-rounded img-responsive">
                            </div>
                            <div class="col-md-8">
                                <h4>{{resultItem.type}}</h4>
                                <p>{{resultItem.description}}</p>
                                
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="numresult" ng-class="{'warning': resultItem.result>14, 'danger': resultItem.result>18}">{{resultItem.result}}</p>
                            </div>
                        </div><!-- row -->
                    </div><!-- well -->
                </div><!-- col-xs-6 -->
            </div>
        </div>

    </div>

    <!-- third party js -->
    <script src="jsLibs/angular.min.js"></script>
    <script src="jsLibs/jquery-2.2.4.min.js"></script>
    <script src="jsLibs/bootstrap.min.js"></script>


    <script src="jsApp/app.js"></script>
    <script src="jsApp/controllers/list.js"></script>
    <script src="jsApp/controllers/quiz.js"></script>
    <script src="jsApp/controllers/results.js"></script>
    <script src="jsApp/factories/quizMetrics.js"></script>
    <script src="jsApp/factories/dataservice.js"></script>

</body>
</html>
