* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poiret One', cursive;
  background: #FF7F00;
}
#sceneContainer {
  position: fixed;
  width: 600px;
  height: 680px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#sceneContainer h1 {
  color: #F9F7F8;
  font-size: 40px;
  position: relative;
  text-align: left;
  width: 60%;
  line-height: 1.2;
}
#sceneContainer .circle {
  width: 600px;
  height: 600px;
  border-radius: 300px;
  position: relative;
  border: 5px solid #0080ff;
  background: #F9F7F8;
  top: -30px;
  background: #F9F7F8 url(images/girl.png) 50% 70% no-repeat;
  background-size: 30%;
}
#sceneContainer .circle .box {
  position: absolute;
  width: 15%;
  height: 15%;
  color: #F9F7F8;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 60%;
}
#sceneContainer .circle .box.place1 {
  right: 19.95%;
  top: 7.5%;
}
#sceneContainer .circle .box.place2 {
  top: 24.9%;
  right: 6%;
}
#sceneContainer .circle .box.place3 {
  top: 42.5%;
  right: 3%;
}
#sceneContainer .circle .box.place4 {
  bottom: 24.9%;
  right: 6%;
}
#sceneContainer .circle .box.place5 {
  right: 19.95%;
  bottom: 7.5%;
}
#sceneContainer .circle .box.place6 {
  bottom: 3%;
  left: 42.5%;
}
#sceneContainer .circle .box.place7 {
  left: 19.95%;
  bottom: 7.5%;
}
#sceneContainer .circle .box.place8 {
  bottom: 24.9%;
  left: 6%;
}
#sceneContainer .circle .box.place9 {
  left: 3%;
  top: 42.5%;
}
#sceneContainer .circle .box.place10 {
  top: 24.9%;
  left: 6%;
}
#sceneContainer .circle .box.place11 {
  left: 19.95%;
  top: 7.5%;
}
#sceneContainer .circle .box.place12 {
  top: 3%;
  left: 42.5%;
}
#sceneContainer .circle .box.protein {
  background-image: url(images/circle/fish.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.tea {
  background-image: url(images/circle/tea-1.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.clock {
  background-image: url(images/circle/clock.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.hot {
  background-image: url(images/circle/food.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.small {
  background-image: url(images/circle/dishes.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.calm {
  background-image: url(images/circle/calm_down.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.fiber {
  background-image: url(images/circle/apple-1.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.simple {
  background-image: url(images/circle/rice.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.bed {
  background-image: url(images/circle/moon.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.water {
  background-image: url(images/circle/water.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.mind {
  background-image: url(images/circle/mind.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box.soup {
  background-image: url(images/circle/stew.svg);
  background-position: 50% 50%;
}
#sceneContainer .circle .box p {
  display: none;
  opacity: 1;
}
#sceneContainer .circle .box.place12 {
  background-position: 50% 0%;
}
#sceneContainer .circle .box.place12 p {
  display: block;
  width: 150%;
  text-align: center;
  position: absolute;
  left: -25%;
  top: 70%;
  font-size: 16px;
  line-height: 1;
  color: #000;
  opacity: 1;
}
#sceneContainer .circle .box.place12 p .title {
  font-weight: bold;
  display: block;
  color: #0080ff;
  font-size: 115%;
}
