/*.path {
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
  animation: dash 5s linear forwards;

  fill:#fff;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}*/

.path {
	fill:#fff;
}

.path.none {
	fill:none;
}